/* Pour construire le menu en mobile : 
On construit le menu tel qu'il sera une fois ouvert.
On ajoute les propriétés "visibility: hidden" et "opacity: 0" pour masquer le menu. */
.menu {
  /* Fixe le menu en position, il ne défilera pas avec la page : https://developer.mozilla.org/fr/docs/Web/CSS/position#fixed */
  position: fixed;
  /* Définit la couleur de fond du menu en blanc : https://developer.mozilla.org/fr/docs/Web/CSS/background-color */
  background-color: white;
  /* Utilise Flexbox pour la mise en page des éléments enfants : https://developer.mozilla.org/fr/docs/Web/CSS/display-inside#flex */
  display: flex;

  /* Positionne le menu en haut de la page : https://developer.mozilla.org/fr/docs/Web/CSS/top */
  top: 0;
  /* Étend le menu jusqu'en bas de la page */
  left: 0;
  /* Positionne le menu à gauche de la page */
  bottom: 0;
  /* Étend le menu jusqu'à droite de la page */
  right: 0;
  /* Définit une transition de 0.4 secondes pour toutes les propriétés, avec un effet d'accélération et de décélération : https://developer.mozilla.org/fr/docs/Web/CSS/transition */
  transition: all 0.4s;
  /* Rend le menu complètement transparent : https://developer.mozilla.org/fr/docs/Web/CSS/opacity */
  opacity: 0;
  /* Cache le menu en le rendant invisible : https://developer.mozilla.org/fr/docs/Web/CSS/visibility#hidden  */
  visibility: hidden;
}

/* On se sert de Javascript pour gérer l'ouverture et la fermeture du menu avec l'attribut "aria-hidden" */
.menu[aria-hidden="false"] {
  visibility: visible;
  /* Rend le menu visible */
  opacity: 1;
  /* Rend le menu complètement opaque */
}

/* On ajoute une classe sur le body pour empêcher le scroll lorsque le menu est ouvert */
.noscroll {
  overflow: hidden;
  /* Empêche le défilement de la page */
}

/* Mise en forme du bouton de menu "Hamburger" */
.menu-btn {
  position: relative;
  /* Positionne le bouton par rapport à son conteneur parent */
  z-index: 3;
  /* Assure que le bouton est au-dessus des autres éléments */
  width: 30px;
  /* Définit la largeur du bouton à 30px */
  transition: all 0.4s ease-in-out;
  /* Ajoute une transition de 0.4 secondes pour toutes les propriétés, avec un effet d'accélération et de décélération */
}

/*
  "aria-expanded" géré par JavaScript pour l'ouverture et la fermeture.
 */
.menu-btn[aria-expanded="true"] {
  transform: rotate(90deg);
  /* Fait pivoter le bouton de menu de 90 degrés lorsqu'il est en état "expanded" */
}

.menu-btn__image {
  width: 24px;
  ;
  /* Définit la largeur de l'image à 100% */
  height: 24px;
  /* Définit la hauteur de l'image à "auto" */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  width: 100px;
  height: 100px;
}

.footer {
  color: white;
  background-color: #8C7851;
  display: flex;
  justify-content: center;
}

.footer__cat {
  width: 200px;
  height: 200px;
}

.header {
  background-color: #F9F4EF;
}

.main {
  background-color: #F9F4EF;
}

.container-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  background-color: #F9F4EF;
}

body {
  font-family: Montserrat;
}

.div__intro-title {
  width: 742px;
  font-size: 74px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2.96px;
  ;
}

.div__intro-text {
  width: 742px;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: ;
}

.div__intro-btn {
  background-color: #8C7851;
  color: white;
  width: 252px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 113px;

}

.section1 {
  background-color: white;
  margin-bottom: 150px;
}

.article-roux {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-noirs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__description {
  width: 540px;
}

.section2 {
  padding-bottom: 100px;
}

.section2__title-position {
  text-align: center;
}

.section2__title {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.92px;
  color: #8C7851;
  text-align: center;

}

.article__div-left {
  display: flex;
  width: 766px;
  height: 715px;
}

.article__div-img {
  width: 766px;
  height: 373px;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1.92px;
}

.footer__info {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.28px;
}

.footer__icon {
  width: 16px;
  height: 16px;
}