@import "vandors/normalize.css";
@import "utils/variables.css";
@import "base/main.css";
@import "components/menu.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    width: 150px;
    height: 150px;
}

.header {
    background-color: #F9F4EF;
}

.main {
    background-color: #F9F4EF;
}

.container-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    background-color: #F9F4EF;
}

.div__intro-left {
    width: 600px;
}

.div__intro-title {
    width: 742px;
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2.96px;
    ;
}

.div__intro-text {
    width: 600px;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.6px;
    margin-bottom: 40px;
}

.div__intro-btn {
    background-color: #8C7851;
    color: white;
    width: 252px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 113px;
    font-size: 24px;
    transition: opacity 0.15s;
}

.div__intro-btn:hover {
    opacity: 0.8;
}

.div__intro-btn:active {
    opacity: 0.6;
}

.div__btn {
    background-color: #8C7851;
    color: white;
    font-weight: bold;
    width: 252px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 113px;
    font-size: 16px;
    transition: opacity 0.15s;
    text-align: center;
}

.div__btn:hover {
    opacity: 0.8;
}

div.div__btn:active {
    opacity: 0.6;
}

.section1 {
    background-color: white;
    padding-bottom: 100px;
}

.div__article-left {
    width: 700px;
}

.div__article-right {
    width: 500px;
    margin-left: 200px;
}

.article-roux {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.article__roux-img {
    width: 350px;
}

.article__noir-img {
    width: 300px;
}

.article-noirs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__description {
    width: 540px;
    margin-bottom: 50px;
}

.section2 {
    padding-bottom: 200px;
}

.section2__title-position {
    text-align: center;
}

.section2__title {
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.92px;
    color: #8C7851;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;

}

.section2__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section2__article {
    background: #EADDCF;
    width: 600px;
    height: 500px;
}

.article__dog-img {
    width: 600px;
    height: 250px;
    object-fit: cover;
}

.article__box-text {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: start;
    align-items: center;

}

.article__title-box {
    font-style: none;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
}



.footer {
    color: white;
    background-color: #8C7851;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__left {
    margin-right: 100px;
}

.footer__title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1.92px;
    margin-bottom: 50px;
}

.footer__info {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1.28px;
}

.footer__icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.footer__item {
    margin-bottom: 30px;
}

.footer__cat {
    width: 200px;
    height: 200px;
    margin-left: 150px;
}