@import "vandors/normalize.css";
@import "utils/variables.css";
@import "base/main.css";
@import "components/menu.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F4EF
}

.header__logo-img {
    width: 150px;
    height: 150px;
}

.header__article {
    position: fixed;
    width: 100%;
    height: 120px;
    margin-bottom: 100px;
    top: 0;
    z-index: 1000;
}

.main {
    background-color: #F9F4EF;
}

.container-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    background-color: #F9F4EF;
}

.div__intro-left {
    width: 600px;
}

.div__intro-title {
    width: 742px;
    font-size: 60px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2.96px;
    ;
}

.div__intro-text {
    width: 600px;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.6px;
    margin-bottom: 40px;
}

.div__intro-btn {
    background-color: #8C7851;
    color: white;
    width: 252px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 113px;
    font-size: 24px;
    transition: opacity 0.15s;
}

.div__intro-btn:hover {
    opacity: 0.8;
}

.div__intro-btn:active {
    opacity: 0.6;
}

.div__btn {
    background-color: #8C7851;
    color: white;
    font-weight: bold;
    width: 252px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 113px;
    font-size: 16px;
    transition: opacity 0.15s;
    text-align: center;
}

.div__btn:hover {
    opacity: 0.8;
}

div.div__btn:active {
    opacity: 0.6;
}

.section1 {
    background-color: white;
    padding-bottom: 100px;
}

.div__article-left {
    width: 700px;
}

.div__article-right {
    width: 500px;
    margin-left: 200px;
}

.article-roux {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.article__roux-img {
    width: 350px;
}

.article__noir-img {
    width: 300px;
}

.article-noirs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__description {
    width: 540px;
    margin-bottom: 50px;
}

.section2 {
    padding-bottom: 200px;
}

.section2__title-position {
    text-align: center;
}

.section2__title {
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.92px;
    color: #8C7851;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;

}

.section2__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.section2__article {
    background: #EADDCF;
    width: 600px;
    height: 500px;
}

.article__dog-img {
    width: 600px;
    height: 250px;
    object-fit: cover;
}

.article__box-text {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: start;
    align-items: center;

}

.article__title-box {
    font-style: none;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
}



.footer {
    color: white;
    background-color: #8C7851;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__article {
    color: white;
    background-color: #8C7851;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
}

.footer__left {
    margin-right: 100px;
}

.footer__title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 1.92px;
    margin-bottom: 50px;
}

.footer__title--article {
    font-size: 18px;
}

.footer__info--article {
    font-size: 12px;
}

.footer__info {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1.28px;
}

.footer__icon {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.footer__item {
    margin-bottom: 30px;
}

.footer__cat {
    width: 200px;
    height: 200px;
    margin-left: 150px;
}

.footer__cat--article {
    width: 120px;
    height: 120px;
}

.main__article--intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
    margin-bottom: 100px;
}

.main__article--title {
    font-size: 42px;
    margin-bottom: 0;
}

.main__article--text {
    font-size: 24px;
    margin-top: 15px;
}

.main__article--bar {
    width: 800px;
    height: 3px;
    object-fit: cover;
    position: absolute;
    top: 330px;
}

.section__carousel--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    width: 600px;
    border-radius: 16px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.carousel__chat--img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.dog__img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

.chatnoir {
    object-position: center 20%;
}

.carousel__name {
    margin-bottom: 0px;
}

.dog__name {
    margin-bottom: 25px;
}

.carousel__nickname {
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 10px;
}

.carousel__description {
    width: 500px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.dog__description {
    width: 1000px;
    font-size: 20px;
    margin-top: 30px;
}